<!DOCTYPE html>
<html>
<head>
    <title>Add Book</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">

        <!-- Brand -->
        <a class="navbar-brand d-flex align-items-center gap-2" href="{{ url_for('login') }}">
            <img src="{{ url_for('static', filename='logo.jpg') }}" width="55" height="50" alt="Logo">
            <span>Library</span>
        </a>

        <!-- Toggle -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <a href="{{ url_for('add_book') }}" class="btn btn-orange w-100 mb-3">Add Book</a>
                <a href="{{ url_for('issue_book') }}" class="btn btn-orange w-100 mb-3">Issue Book</a>
                <a href="{{ url_for('dashboard') }}" class="btn btn-orange w-100 mb-3">Dashboard</a>
                <a href="{{ url_for('view_books') }}" class="btn btn-orange w-100 mb-3">View Books</a>
                <a href="{{ url_for('logout') }}" class="btn btn-dark w-100">Logout</a>

            </ul>
        </div>

    </div>
</nav>

<div class="container mt-5">
    <div class="card shadow">
        <div class="card-body">

            {% if message %}
                <div class="alert alert-success">{{ message }}</div>
            {% endif %}

            <form method="post">
                <input class="form-control mb-3" name="title" placeholder="Book Title" required>
                <input class="form-control mb-3" name="author" placeholder="Author" required>
                <input class="form-control mb-3" name="price" placeholder="Price" required>
                <input class="form-control mb-3" name="quantity" placeholder="Quantity" required>

                <button class="btn btn-orange w-100">Add Book</button>
            </form>

        </div>
    </div>
</div>

</body>
</html>
