<!DOCTYPE html>
<html>
<head>
    <title>Add Book</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h3>Add Book</h3>
    <form method="post">
        <input name="title" placeholder="Title">
        <input name="author" placeholder="Author">
        <input name="price" placeholder="Price">
        <input name="quantity" placeholder="Quantity">
        <input name="image" placeholder="Image name">
        <button>Add</button>
    </form>
</div>

</body>
</html>
