\<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav class="navbar">
    <a class="navbar-brand">
        <span>Welcome {{ name }}</span>
    </a>
</nav>

<div class="container">
    <h3>{{ role|capitalize }} Dashboard</h3>

    {% if role in ['admin','staff'] %}
        <a href="{{ url_for('add_book') }}"><button>Add Book</button></a><br><br>
    {% endif %}

    <a href="{{ url_for('view_books') }}"><button>View Books</button></a><br><br>
    <a href="{{ url_for('issue_book') }}"><button>Issue Book</button></a><br><br>
    <a href="{{ url_for('return_book') }}"><button>Return Book</button></a><br><br>

    <a href="{{ url_for('logout') }}"><button>Logout</button></a>
</div>

</body>
</html>
